<launch>
    <arg name="web" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="mujoco_suffix" default=""/>
    <arg name="mujoco_robot" default="$(find hsr_mujoco)/model/hsrb4s.xml"/>
    <arg name="mujoco_world" default="$(find hsr_mujoco)/model/world_containers.xml"/>

    <!-- roslaunch hsr_mujoco hsrb4s_velocity.launch  -->
   <node pkg="tf" type="static_transform_publisher" name="fake_odometry" output="screen" args="0 0 0 0 0 0 1 map odom 10" /> 
    <arg name="namespace" default="hsrb4s" />
    <group ns="hsrb4s">
        <include file="$(find mujoco_sim)/launch/mujoco_sim$(arg mujoco_suffix).launch">
            <arg name="config" value="$(dirname)/mujoco_config/hsrb4s.yaml" />
            <arg name="robot" value="$(arg mujoco_robot)" />
            <arg name="world" value="$(arg mujoco_world)" />
        </include>
    </group>

    <group ns="$(arg namespace)">
        <param name="robot_description" command="$(find xacro)/xacro $(find hsr_description)/robots/hsrb4s.urdf" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

        <include file="$(find hsr_control)/launch/hsr_velocity_controllers.launch" />
        <!-- <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" /> -->
    </group>

    <!-- roslaunch giskardpy giskardpy_hsr_mujoco.launch -->
    <node pkg="giskardpy" type="iai_hsr_mujoco.py" name="giskard" output="screen"/>
    
    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
        - [odom, base_footprint]
        - [odom, head_rgbd_sensor_link]
        - [odom, hand_palm_link]
        </rosparam>
    </node>

    <!-- launch rvizweb on binder -->
    <group if="$(arg web)">
        <include file="$(dirname)/rvizweb_config.launch">
            <arg name="client_config" value="$(dirname)/rvizweb_config/hsr_mujoco.json" />
            <arg name="target_frame" default="/base_link"/>
        </include>
    </group>

    <!-- launch rivz locally -->
    <group if="$(arg gui)">
        <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" /> -->
    </group>

</launch>