<launch>
    <arg name="web" default="true"/>
    <arg name="gui" default="false"/>

    <param name="robot_description" command="xacro $(find stretch_description)/urdf/stretch_description.xacro" />

    <node pkg="giskardpy" type="stretch_standalone.py" name="giskard" output="screen"/>

    <node pkg="giskardpy" type="interactive_marker.py" name="giskard_interactive_marker" output="screen">
        <rosparam param="enable_self_collision">False</rosparam>
        <rosparam param="interactive_marker_chains">
            - [map, stretch/link_grasp_center]
            - [map, stretch/base_link]
        </rosparam>
    </node>

    <!-- launch rvizweb on binder -->
    <group if="$(arg web)">
        <node pkg="interactive_marker_proxy" type="proxy" name="interactive_marker_proxy">
            <remap from="target_frame" to="/stretch/base_link" />
            <remap from="topic_ns" to="/eef_control" />
        </node>
        <include file="$(find rvizweb)/launch/update_config.launch">
            <arg name="config_file" value="$(dirname)/rvizweb_config/stretch.json" />
        </include>
    </group>

    <!-- launch rivz locally -->
    <group if="$(arg gui)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find giskardpy)/launch/rviz_config/standalone.rviz" />
    </group>

</launch>